---
layout: default
---
{% assign credita = site.data.data.pages.credita %}
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>

    <div class="main var-color">
      <div>
        {{ credita.title }}
      </div>
      <div>
        <a href="{{ credita.link }}">{{ credita.link }}</a>
      </div>
      <!--<div>
        {{ credita.summary }}
      </div>-->
      <div>
        {{ credita.detail }}
      </div>
    </div>
  </div>
</div>
