---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <!--<div class="sidebar">
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>
-->
    <div class="main var-color">
      {% include contact.html %}
      credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita
      credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita
      credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita
      credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita
      credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita credita
    </div>
  </div>
</div>
