---
layout: default
---
{% assign data_driven_website = site.data.data.pages.data_driven_website %}
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>

    <div class="main var-color">
      <div>
        {{ data_driven_website.title }}
      </div>
      <div>
        <a href="{{ data_driven_website.link }}">{{ data_driven_website.link }}</a>
      </div>
      <!--<div>
        {{ data_driven_website.summary }}
      </div>-->
      <div>
        {{ data_driven_website.detail }}
      </div>
    </div>
  </div>
</div>
