---
layout: default
---
{% assign edilex = site.data.data.pages.edilex %}
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>

    <div class="main var-color">
      <div>
        {{ edilex.title }}
      </div>
      <div>
        <a href="{{ edilex.link }}">{{ edilex.link }}</a>
      </div>
      <div>
        {{ edilex.summary }}
      </div>
      <div>
        {{ edilex.detail }}
      </div>
    </div>
  </div>
</div>