---
layout: default
---
{% assign era_info_tech = site.data.data.pages.era_info_tech %}
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>

    <div class="main var-color">
      <div>
        {{ era_info_tech.title }}
      </div>
      <div>
        <a href="{{ era_info_tech.link }}">{{ era_info_tech.link }}</a>
      </div>
      <div>
        {{ era_info_tech.summary }}
      </div>
      <div>
        {{ era_info_tech.detail }}
      </div>
    </div>
  </div>
</div>
