---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>

    <div class="main var-color">
      <div>
        {{ ukko.title }}
      </div>
      <div>
        <a href="{{ ukko.link }}">{{ ukko.link }}</a>
      </div>
      <div>
        {{ ukko.summary }}
      </div>
      <div>
        {{ ukko.detail }}
      </div>
    </div>
  </div>
</div>
