<ul {% if include.nested==true %} class="sub" {% else %} class="primary" {% endif %}>
    {% for item in include.nav %}
        <li>
            <a href="{{ item.url }}" {% if item.subnav %} aria-haspopup="true" {% endif %} {% if item.icon==true %} style="margin-top: 5px;" {% endif %}>
                {% if item.icon==true %}
                    <i data-feather="{{ item.title }}" fill="var(--fg-color)"></i>
                {% else %}
                    {{ item.title }}
                {% endif %}
            </a>
            {% if item.subnav %}
                {% include top-menu.html nav=item.subnav nested=true %}
            {% endif %}
        </li>
    {% endfor %}
</ul>